/* ========================================================================= */
/* SITE-HEADER */
/* ========================================================================= */
header#site-header {
    display: grid;
    grid-template-columns: max-content 1fr;
}

header#site-header h1 {
    color: #fff;
    border-bottom: 1px solid #b1b1b1;
}

header#site-header ul {
    list-style: none;
}

header#site-header > div > ul {
    padding-left: 0;
}

@media (max-width: 900px) {
    header#site-header {
        grid-template-columns: 1fr;
    }
}

/* ========================================================================= */
/* PAGE-NAV */
/* ========================================================================= */
[page-nav] {
    padding: 12px;
    background-color: #2f2f2f;
    margin: 12px;
    border-radius: 3px;
}


/* ========================================================================= */
/* TOC */
/* ========================================================================= */
[toc] {
    padding: 12px;
    background-color: #2f2f2f;
    margin: 12px;
    border-radius: 3px;
}

[macro='toc'] > li[for='h1'] {margin-left: 0;}
[macro='toc'] > li[for='h2'] {margin-left: 20px;}
