/* ========================================================================= */
/* PAGE */
/* ========================================================================= */

x-page {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}

x-page > header {
    height: 100px;
    width: 100%;
    border: #ccc;
    display: none;
}

x-page > footer {
    height: 100px;
    width: 100%;
    border: #ccc;
    display: none;
}


/* ========================================================================= */
/* SCENE TREE (CANVAS) */
/* ========================================================================= */

[scene-tree] {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}



