x-layout#root {
    display: grid;
    grid-row-gap: 4px;
}

x-layout#root > * {
    width: 100%;
    justify-self: center;
    padding: 0 12px;
    margin: 0;
}

x-layout#root > h1 {
    width: 100%;
    box-shadow: 0px 3px 4px 0px #17171740;
    border: none;
}

x-layout#root > h1[root] {
    background-color: #ffffff;
    color: #212121;
    font-size: 2.3em;
    text-align: center;
    border: 1px solid #828282;
    border-right: none;
    border-left: none;
    box-shadow: 0 0 10px 0px #bdbdbd;
    padding-top: 12px;
    padding-bottom: 12px;   
    border-color: #c3c3c3;
    color: #586f6d;
}


x-layout#root > h2,
x-layout#root > h3,
x-layout#root > h4,
x-layout#root > h5,
x-layout#root > h6 {
    border: 1px solid #e2e2e2;
    margin-bottom: 4px;
    border-radius: 3px;
    text-align: center;
    color: #2f2f2f;
    width: calc(100% - 24px);
    margin-bottom: 0;
}

x-layout#root > [macro='note'][boxed] {
    width: calc(100% - 24px);
    margin: 0 auto;
}

x-layout#root > ol,
x-layout#root > ul,
x-layout#root > dl,
x-layout#root > p {
    width: calc(100% - 84px);
    margin: 0 auto;
    padding-left: 0;
}
